/* @import url('https://fonts.cdnfonts.com/css/blackboard'); */

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap');

nav {

    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
    font-size: 120%;
    color: white;
}

    nav a {

        text-decoration: none;
        color: white;

    }

    #deco_form {
        
        background-color: rgba(0, 0, 0, 0);
        border: none;

    }

    #deco {

        border: none;
        background-color: rgba(0, 0, 0, 0);
        font-size: 90%;
        font-family: 'Shantell Sans', cursive;
        color: white;
        
    }

    #deco:hover {

        cursor: grab;
        transition-duration: 0.5s;
    }

body {

    margin:10%;
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0.822);
    font-family: 'Shantell Sans', cursive;
    color: white;
}

main {  

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#main_functions {

    display: flex;
    justify-content: space-between;

}

#display_task_board {

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 25px solid rgba(255,255,255,.8);
    border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
    position: absolute;
    top: 5%;
    left: 30%;
    width: 400px;
    height: 300px;
    padding: 30px;
}

    #modify_title_form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #modify_title_form input{

        width: 100%;
    }

    #task_cross, #users_cross {
        
        color: white;
        font-size: 200%;
        position: absolute;
        top: 1%;
        left: 92%;
        /* z-index: 2;  */
    }

    #users_cross {

        left: 96%;
    }

#tasks_display {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

    #to_do_area {

        width: 100%;
    }

    #to_do {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #to_do_area h2 {

        width: 100%;
        
    }

    #done_area h2 {

        width: 100%;
        
    }

#users_management {

    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 25px solid rgba(255,255,255,.8);
    border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
    position: absolute;
    top: 0%;
    width: 100%;
    min-height: 300px;
    padding: 30px;
}

    #invitations_list {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .invited_line {

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .auto_search_line:hover {

        cursor: crosshair;
    }

    #add_invited_form {

        display: flex;
        flex-direction: column;
        align-items: center;
    }


#list_form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#done {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    #done_area h2 {

        width: 100%;
    }

.task_box {

    border: 25px solid rgba(255,255,255,.8);
    border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    width: 250px;
    height: 250px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 10px;
    color: white
}

    .task_title {

        width: 100%;
        display: flex ;
        justify-content: center;
        border-bottom: 25px solid rgba(255,255,255,.8);
        border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
    }

    .task_date {

        width: 100%;
        display: flex ;
        justify-content: center;
        border-bottom: 25px solid rgba(255,255,255,.8);
        border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;

    }


main button {

    height: 40px;
    font-size: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    /* width: 30%; */
    margin-bottom: 30px;
    /* font-family: 'Blackboard', sans-serif; */
    font-family: 'Shantell Sans', cursive;
}

main button:hover {

    transform: scale(1.05);
    transition-duration: 0.5s;
    color: white;
    border: 15px solid rgba(255,255,255,.8);
    border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;

}

main input {

    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: solid 2px black;
    outline-color: #855E42;
    background-color: white;
    font-size: 100%;
    margin-bottom: 10px;
    /* font-family: 'Blackboard', sans-serif; */
    font-family: 'Shantell Sans', cursive;
}

main select {

    height: 40px;
    font-size: 100%;
    border: none;
    /* font-family: 'Blackboard', sans-serif; */
    font-family: 'Shantell Sans', cursive;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;  

}

    main option {

        /* background-color: rgba(0, 0, 0, 0); */

        background-color: black;
        color: white;
    }

    #change_user_button {

        margin-top: 10px;
    }
